Source: ros-kinetic-op3-offset-tuner-server
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), libyaml-cpp-dev, ros-kinetic-catkin, ros-kinetic-dynamixel-sdk, ros-kinetic-op3-base-module, ros-kinetic-op3-offset-tuner-msgs, ros-kinetic-robotis-controller, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/op3_offset_tuner_server
Standards-Version: 3.9.2

Package: ros-kinetic-op3-offset-tuner-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev, ros-kinetic-dynamixel-sdk, ros-kinetic-op3-base-module, ros-kinetic-op3-offset-tuner-msgs, ros-kinetic-robotis-controller, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The offset_tuner_server package
