Source: ros-kinetic-op3-web-setting-tool
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/op3_web_setting_tool
Standards-Version: 3.9.2

Package: ros-kinetic-op3-web-setting-tool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosbridge-server, ros-kinetic-web-video-server
Description: The op3_web_setting_tool package
